.wrapper {
    width: 1024px;
    /* height: 460px; */
    border: 1px solid red;
    /* margin: 10px; */
    padding: 10px;
    background-color: aquamarine;
}
footer {
    height: 98px;
    border: 1px solid rgb(21, 232, 240);
    margin-top: 10px;
    text-align: center;
    line-height: 98px;
    background-color: cadetblue;
}
header {

    height: 98px;
    border: 1px solid black;
line-height: 98px;
    /* margin: 10px; */
    text-align: center;
    background-color: cornflowerblue;
}
.left_panel,
.right_panel {
    width: 482px;
    height: 200px;
    border: 1px solid rgb(17, 40, 143);
    margin: 10px;
    float: left;
    background-color: darkkhaki;
    /* padding: 20px; */

}

.right_panel {
    width: 492px !important;
    /* margin-left: 0px !important; */
}
.mid {

    height: 230px;
    border: 1px dotted rgb(13, 85, 29);
    margin: 10px 0px;
    /* padding: 10px; */

}