body{
    background: skyblue;
    text-align: center;
}
table{
    width: 70%;
    margin: auto;
    /* table-layout: fixed; */
}
table, tr, th, td{
    padding: 20px;
    color: white;
    border: 1px solid #080808;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);

}
td:hover{
    background: orange; 
    /* font-size: 1.1em; */
    transition: background 2s linear;
    -webkit-transform: scale(1.2);
}
h1, h2{
    border: 1px solid blue;
    color: black;
    background-color: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    /* background-color: green; */

}
table thead{
    padding: 0px;
}